# database dumps
*.sql

# excel / csv exports
*.csv
*.xls
*.xlsx
*.xlsb

# json exports
export-data.json

# backups
backup/
dump/

# node
node_modules/

# env
.env
.env.local

# prisma local db
dev.db

